__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.venv/
venv/

data/raw/*
data/processed/*
data/splits/*
results/baselines/*
results/rl_runs/*
results/figures/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/splits/.gitkeep
!results/baselines/.gitkeep
!results/rl_runs/.gitkeep
!results/figures/.gitkeep
